/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header***********/
 li {
    float: right;
    margin-top: 20px;
    list-style: none;
    margin-left: 100px;
}
li a {
    text-decoration: none;
}

.activites {
    color: black;
}

.flexbetwen {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sizefilter {
    width: 167px;
    height: 50px;
    border-radius: 25px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.card-Hebergement {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 250px;
    height: 280px;
    gap: 30px;
}

.Hebergement-cards img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}

.Hebergement-cards .card-content {
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.Hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Hebergements-Bloc1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.Hebergements-Bloc2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/******* Activité a Marseille ********/

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-activité-marseille {
    width: 320px;
    height: 500px;
    background:#F2F2F2;
    border-radius: 20px ;
    box-shadow: var(--main-bg-color);
    line-height: 1.5;
    align-self: stretch;
   
   
}

.card-activité-marseille img {
    width: 100%;
    height: 430px;
    border-radius: 20px;
}

.activité-marseille { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}


/******* Footer ********/

.footer-size {
    width: 1400px;
    height: 163px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: 25px;
}

.title-footer {
    padding-right: 15px;
    text-align: center;
   margin-right: 10px;
   margin-top: 20px;
   margin-left: 150px;
   text-align: center;
   line-height: 1.5;

}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}